a {
    text-decoration: none;
    color: black;
}

.leaderboard-card {
    width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
}

.leaderboard-card:hover {
    transform: scale(1.1)
}

.leaderboard-card__img {
    width: 15rem;
    height: 15rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

.leaderboard-card__information {
    display: flex;
}
  
.leaderboard-card__level {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;
}